body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "HDharmony";
  font-weight: 700;
  src: url("./assets/fonts/HDharmony+M.ttf") format("woff2"),
    url("./assets/fonts/HDharmony+L.ttf") format("woff"),
    url("./assets/fonts/HDharmony+B.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  font-family: "HDharmony", sans-serif;
  font-size: "2vh";
}
